# Base16 {{scheme-name}} - wezterm color config
# Scheme by {{scheme-author}}
[colors]
background = "#{{base00-hex}}"
foreground = "#{{base05-hex}}"

cursor_bg = "#{{base00-hex}}"
cursor_border = "#{{base05-hex}}"
cursor_fg = "#{{base00-hex}}"

selection_bg = "#{{base05-hex}}"
selection_fg = "#{{base00-hex}}"

ansi = ["#{{base00-hex}}", "#{{base08-hex}}", "#{{base0B-hex}}", "#{{base0A-hex}}", "#{{base0D-hex}}", "#{{base0E-hex}}", "#{{base0C-hex}}", "#{{base05-hex}}"]
brights = ["#{{base03-hex}}", "#{{base09-hex}}", "#{{base01-hex}}", "#{{base02-hex}}", "#{{base04-hex}}", "#{{base06-hex}}", "#{{base0F-hex}}", "#{{base07-hex}}"]
